<div ng-controller="AlertasCtrl">

  <div class="panel panel-primary">

    <div class="panel-heading">
      <h3 class="panel-title">Alertas</h3>
    </div>

    <p></p>
    <h3>Buscar: <input ng-model="buscar">
    </h3>
    <table class="table table-hover">

      <tr style="font-weight: bold">
        <th>
          <a href="" ng-click="ordenarPor('nombre')">
            Id Alerta
          </a>
        </th>
        <th >Fecha</th>
        <th >Tipo de alerta</th>
        <th>Usuario</th>
        <th >Latitud</th>
        <th >Longitud</th>
        <th>Estado</th>
        <th >Actualizada</th>
        <th >Comentario</th>
        <th >Detalles</th>
      </tr>

      <tr ng-repeat="alerta in alertas | orderBy:ordenSeleccionado | filter:buscar">
        <td>
          {{ alerta.idalerta || 'empty' }}

        </td>
        <td>
          {{ alerta.fecha || 'empty' }}

        </td>
        <td>
          {{ showTipos(alerta) }}

        </td>
        <td>
          {{ alerta.idusuario || 'empty' }}

        </td>


        <td>
          {{ alerta.latitud || 'empty' }}

        </td>

        <td>
          {{ alerta.longitud || 'empty' }}

        </td>

        <td>
          {{ showEstado(alerta)}}

        </td>

        <td>
          {{ alerta.actualizada || 'empty' }}

        </td>

        <td>
          {{ alerta.comentario || 'empty' }}

        </td>




        <td  style="white-space: nowrap">
          <!-- form -->
          <button class="btn btn-primary"  ng-click="actualizar(alerta)">Mapa</button>
          <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="editarAlerta(alerta)">Editar</button>
        </td>
        <!--<td  style="white-space: nowrap">

          <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" >Modal</button>
        </button>
      </td> -->
      </tr>

    </table>
  </div>




  <div   class="panel panel-primary">

    <div class="panel-heading">
      <h3 class="panel-title">Mapa</h3>
    </div>
    <div id="map_canvas">



      <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-marker  ng-show="showMap" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
      </ui-gmap-google-map>

    </div>


  </div>



</div>


<br><br>

</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title" id="myModalLabel">Editar Alerta</h4>
      </div>
      <div class="modal-body">



        <div style='width:350px;'  class="container">
          <h1>Alerta</h1>
          <hr>

          <form role="form" name="forma">

            <div class="form-group" ng-class="{'has-error': forma.UsernameU.$invalid, 'has-success': forma.UsernameU.$valid}">
              <label for="IdUsuario">Id Usuario</label>
              <label id="IdUsuario" for="IdUsuario">{{alertaIdUsuario}}</label>
            </div>
            <div class="form-group" ng-class="{'has-error': forma.passwordU.$invalid, 'has-success': forma.passwordU.$valid}">
              <label for="inputPassword">Comentario</label>
              <input id="inputPassword" type="text" class="form-control" placeholder="Comentario" name="comentarioAl" ng-model="alertaComentario" required>
            </div>
            <div class="form-group" ng-class="{'has-error': forma.EmailU.$invalid, 'has-success': forma.EmailU.$valid}">
              <label for="inputEmail">Estado</label>
              <input id="inputEmail" type="text" class="form-control" placeholder="Email" name="EmailU" ng-model="alertaEstado" required>
            </div>
            <div>



            </div>
            <button class="btn btn-success " ng-disabled="forma.$invalid" ng-click="actualizarAlerta()">Guardar</button>
          </form>
        </div>







      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

